/*.err-msg{
	color:red;
	padding-left: 10px;
}
.am-tab-bar{
	position: fixed;
	bottom: 0;
	width:100%;
	
}
.fixd-header{
	position: fixed;
	top:0;
	width: 100%;
	
}*/
.page-content{
	padding:45px 0;
}
.fixd-header {
	position: fixed;
	top:0;
	width: 100%;
	z-index: 2
	
}
.fixd-footer{
	position: fixed;
	bottom:0;
	width: 100%;
	z-index: 2
	
}
.am-card-header-content img{
	background-size: 100% 100%;
	width:30px;
	height: 30px;
	border-radius: 15px;
}
.am-card-header-content span{
	width:50vw;
}
.am-card-header-extra span {
	    white-space:nowrap;
	    overflow: hidden;
}
.am-result-pic img{
	background-size: 100% 100%;
	width:50px;
	height: 50px;
	border-radius: 25px;
}
.stick-footer{
	z-index:10;
	position:fixed;
	bottom: 0;
	width:100%;
}



#chat-page .chat-me .am-list-extra{
	flex-basis: auto;
}

#chat-page .chat-me .am-list-content{
	padding-right: 15px;
	text-align: right
}
#chat-page .am-grid-icon{
	display: none;
}
#chat-page .am-grid-text{
	margin-top:0;
}
